<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylesheet" href="css/styles.css" type="text/css" />
		<title>Beer Advocate Reviews</title>
	</head>
	<body>
		<nav>
				<h1>The Beer Scraper</h1>
				<a href="/" class="btn">Home</a>
				<a href="/scrape" class="btn">Scrape Beers</a>
				<a href="/saved" class="btn">Saved Articles</a>
				<a id="clear-beers" href="#" class="btn btn-clear">Clear Articles</a>
		</nav>
		{{{ body }}}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<script src="js/beer.js"></script>
	</body>
</html>