<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		{{!--<link rel="stylesheet" href="css/styles.css" type="text/css" />--}}
		<title>Beer Advocate Reviews</title>
	</head>
	<body>
		{{{ body }}}
		{{!--<script src="js/brgr-bar.js"></script>--}}
	</body>
</html>