nav{
  display:flex;
  flex-direction: row;
  align-items: center;
}

nav a{
  margin: 1rem;
}

.btn{
  padding: .75rem 1.5rem;
  background-color: #61D9E6;
  border-radius: 20px
}

.btn-clear{
  background-color: #C92020;
  color: white;
}

.btn-save{
  background-color: #88BAEB;
}